.final{
    margin: 0%;
    padding: 0%;
    background-color: #212529;
    overflow: hidden;
}

.final h3{
   color: gray;
   text-align: center;
   /* margin-bottom: 20px; */
   font-style: italic;
}

.foot{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
}

.footList{
    display: flex;
    overflow: hidden;
}

 a{
    color: gray;
    text-decoration: none;
 }

 .footer-para {
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    font-size: smaller;
    display: flex;
    justify-content: center;
 }

 .footer-para p{
   font-family: 'Courier New', Courier, monospace;
   width: fit-content;
   overflow: hidden;
   color: gray;
   width: 80%;
 }

 .icon-links{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

 }

 .app-img{

   margin-left: 30%;
   margin-right: auto;
   margin-bottom: 20px;
   max-width: 40%;
 }